@font-face {
    font-family: "Meiryo Reguler";
    src: url('fonts/Meiryo.ttf');
}

@font-face {
    font-family: "Meiryo Bold";
    src: url('fonts/Meiryo\ Bold.ttf');
}

body {
    font-family: "Meiryo Reguler";
    font-size: 14px;
    background: #f4f6f9;
}

.meiryo-bold {
    font-family: "Meiryo Bold";
}

label {
    font-size: 14px;
}

.form-label {
    font-weight: bold;
}

.btn {
    font-weight: bold !important;
}

#modal_user_info #tbl_user_info {
    width: 100%;
}

#modal_user_info #tbl_user_info .first_column {
    width: 30%;
}

#modal_user_info #tbl_user_info .second_column {
    width: 5%;
}

#modal_user_info #tbl_user_info .third_column {
    width: 65%;
}

.bordered-box {
    padding: 10px;
    border: solid #d0d0d0 2px;
}

.button-small-font {
    font-size: 0.8rem
}

.modal-additional-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1072 !important;
    padding: 100px
}